var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%
}

:focus {
  outline: 0
}

.twitch {
  text-decoration: none;
  color: #65499d;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.instagram {
  text-decoration: none;
  color: #e87783;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.twitter {
  height : 20em;
  width : 20em;
}

.instagram {
  height : 20em;
  width : 20em;
}

.twitch {
  height : 20em;
  width : 20em;
  left: 100px;
}

.social {
  display: flex;
  justify-content: center;
}

.kirby {
  height : 50em;
  width : 1300em;
}



@media only screen and (max-width: 426px) {

  nav#main-nav>ul>li>a {
    right : 50em;
    display: block;
    font-family: 'Azonix', sans-serif;
    font-weight: 600;
    line-height: 60px;
    color: #262626;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    z-index: 45;
    padding: 20px 0;
    width: auto;
    transition: all 200ms linear
  }


  .kirby {
    height : 50em;
    width : 1em;
    margin :auto ;
  }
  
  }

  @media only screen and (max-width: 769px) {

    nav#main-nav>ul>li>a {
      right : 40em;
      display: block;
      font-family: 'Azonix', sans-serif;
      font-weight: 600;
      line-height: 60px;
      color: #262626;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
      z-index: 45;
      padding: 20px 0;
      width: auto;
      transition: all 200ms linear
    }

    .kirby {
      height : 50em;
      width : 100em;
      margin :auto ;
    }
    
    }
